---
title: Welcome
---

<div id="home">
  <div class="home-content">
    <%= image_tag "wedding.png", width: "200" %>
    <p>
      Encore un mariage...
    </p>
    <p class="about">
      <%= link_to "Regarde quand même par ici ! ", "about.html" %>
    </p>
  </div>
</div>
